.challengeBoxContainer {
  height: 100%;
  background: radial-gradient(100% 100% at 0% 0%, #422941 0%, #422941 100%);
  border-radius: 20px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.25);
  margin-left: 1.25rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.challengeNotActive p {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  max-width: 70%;
  margin-top: 3rem;
}
.challengeNotActive img {
  margin-bottom: 1rem;
}

.challengeActive {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.challengeActive header {
  color: var(--cyan);
  font-weight: 600;
  font-size: 1.25rem;
  font-family: 'Press Start 2P';
  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid var(--white);
}

.challengeActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeActive main strong {
  font-size: 2rem;
  font-weight: 600;
  color: var(--cyan);
  margin: 1.5rem 0 1rem;
}

.challengeActive p {
  line-height: 1.5;
}

.challengeActive footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.challengeActive footer button {
  height: 3rem;
  display: flex;
  justify-content: center;
  padding-top: 13px;
  border: 0;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  outline: none;
}

.challengeActive footer button.challengeFailedButton {
  background: var(--red);
}
.challengeActive footer button.challengeFailedButton:hover {
  background: var(--dark-red);
}

.challengeActive footer button.challengeSucceededButton {
  background: var(--green);
}
.challengeActive footer button.challengeSucceededButton:hover{
  background: var(--dark-green);
}

@media(max-width: 720px){
  .challengeActive p {
    margin-bottom: 1rem;
  }
}