.countdownContainer {
  display: flex;
  align-items: center;
  color: var(--cyan);
  margin-top: -3rem;
}

.countdownContainer > div{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 6.5rem;
  text-align: center;
}

.countdownContainer > div span{
  flex: 1;
}

.countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}

.countdownButton{
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 15px;
  background: var(--green);
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  transition: background-color 0.2s;
  outline: none;
}
.countdownButton:not(:disabled):hover {
  background: var(--dark-green);
}

.countdownButtonActive {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.countdownButtonActive:not(:disabled):hover {
  background: var(--red);
  color: var(--white);
  border: none;
}

.countdownButton:disabled {
  background: transparent;
  color: var(--orange);
  border: 1px solid var(--orange);
  cursor: not-allowed;
}

.icon {
  margin-left: 0.5rem;
}