
.lifeBar {
  display: flex;
  align-items: center;
}

.lifeBar span {
  font-size: 1rem;
  color: var(--red);
  display: flex;
  flex-direction: column;
}

.lifeProgress{
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--red-opacity);
}

.lifeProgress > div {
  height: 4px;
  border-radius: 4px;
  background:var(--red);
}

.lifeStatus {
  color: var(--red);
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
