.profile {
  padding-right: 1rem;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.avatar p {
  white-space: nowrap;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--white);
}

.avatarImage {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.125rem solid var(--dark-blue);
  background: var(--cyan);
}

.avatarImage img {
  width: 4rem;
  height: 4rem;
  margin: 0.3rem 0 0 0.5rem;
}

.levelIcon {
  color: var(--green);
}

.infos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.infos strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cyan);
}