:root{
  --background: #5D395C;
  --white: #FFFF;
  --orange: #DD7744;
  --orange-opacity: rgba(221, 119, 68, 0.5);
  --red: #D73B47;
  --red-opacity: rgba(215, 59, 71, 0.5);
  --cyan: #3BD7CB;
  --dark-blue: #3B95D7;
  --green: #5F9D4F;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--white);
}

body, input, textarea, button {
  font: 400 1rem "Noto Sans JP", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}


@media(max-width: 1080px){
  html {
    font-size: 93.75%;
  }
}
@media(max-width: 720px){
  html {
    font-size: 87.5%;
  }
}